@using System.Net
@model Usuario

@{
    ViewData["Title"] = "Cadastro";
    
    @if (Context.Session.GetInt32("UserID") != null)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Layout2";
    }
}


<article class="d-flex flex-column align-items-center justify-content-center">
    <div class="w-50 h-100 bg-success rounded-3 text-light mt-5 mb-5">
        <h2 class="mb-3 text-center mt-5">Cadastrar Usuário</h2>
        
        <form method="post" class="text-white p-4">
            <div class="mb-4">
                <input asp-for="Nome" class="form-control" placeholder="Nome Completo"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            
            <div class="mb-4">
                <input asp-for="Cpf" type="text" class="form-control" placeholder="CPF"/>
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            
            <div class="mb-4">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <input asp-for="Senha" type="password" class="form-control" placeholder="Senha"/>
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-light w-100 mt-2">
                Cadastrar
            </button>
        </form>
        <div class="hoverEscurecer w-100 d-flex justify-content-center align-items-center mb-5">
            @if (Context.Session.GetInt32("UserID") == null)
            {
                <a asp-action="Login" asp-controller="Usuario" class="text-white text-decoration-none">
                    Voltar para Login
                </a>
            }
            else
            {
                <a asp-action="Usuarios" asp-controller="Usuario" class="text-white text-decoration-none">
                    Voltar
                </a>
            }
        </div>
    </div>
</article>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}